{% extends "layout.html" %}
{% block title %}
Welcome!
{% endblock %}
{% block main %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .user-profile {
    display: flex;
    align-items: center;
    /* 이미지와 사용자 이름을 세로 중앙 정렬 */
    margin-bottom: 10px;
    /* 프로필과 포스트 이미지 사이의 간격 */
  }

  .profile-pic {
    width: 50px;
    /* 프로필 사진의 크기 */
    height: 50px;
    /* 프로필 사진의 크기 */
    border-radius: 50%;
    /* 프로필 사진을 원형으로 만듦 */
    object-fit: cover;
    /* 이미지 비율을 유지하면서 요소에 맞게 조절 */
    margin-right: 10px;
    /* 프로필 사진과 사용자 이름 사이의 간격 */
    margin-left: 20px;
  }

  .username {
    font-weight: bold;
    /* 사용자 이름을 굵게 표시 */
    margin-right: auto;
  }

  .container {
    display: flex;
    height: 100%;
  }

  .sidebar-left,
  .sidebar-right {
    width: 40%;
    /* 좌우 사이드바 너비 */
    overflow-y: auto;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
    /* 오른쪽에 연한 회색 선 추가 */
  }

  .content {
    flex: 3;
    /* 중앙 콘텐츠 영역 너비 조정 */
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    border-left: 1px solid #ddd;
    /* 왼쪽에 연한 회색 선 추가 */
  }

  .post {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    /* post 내부의 내용이 넘칠 경우 숨김 처리 */
    box-sizing: border-box;
    /* padding과 border를 포함한 크기로 지정 */

  }

  .posted {
    background-color: rgba(215, 210, 210, 0.686);
    border-radius: 10px;
  }

  .posted img {
    margin: auto;

  }

  .post img {
    display: flex;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    /* 이미지와 post-content 사이의 간격 추가 */
  }

  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile img {
    width: 50px;
    /* 프로필 이미지 크기 */
    height: 50px;
    /* 프로필 이미지 크기 */
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-id,
  .profile-name {
    margin: 10px 0;
  }

  .comments {
    float: left;
    clear: both;
    /* float 속성을 사용한 정렬을 초기화 */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 10px;
    /* 요소 사이의 간격 조정 */
    align-items: flex-start;
  }

  .post-content {
    float: left;
    clear: both;
    /* float 속성을 사용한 정렬을 초기화 */
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
    /* 요소 사이의 간격 조정 */
    align-items: flex-start;
  }

  .sidebar-right img {
    width: 50px;
    /* 이미지의 크기 설정 */
    height: 50px;
    /* 이미지의 크기 설정 */
    border-radius: 50%;
    /* 이미지를 동그랗게 만듦 */
    object-fit: cover;
    /* 이미지 비율을 유지하면서, 지정된 너비와 높이에 맞춤 */
  }

  .card {
    width: 15rem;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 40px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    margin: 10px auto 15px;
  }

  .card-body {
    padding: 10px;
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }

  .add-comment textarea {
    width: 100%;
    height: 30px;
  }

  .user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 내용을 양쪽으로 분산 정렬 */
  }

  #user-profile img {
    margin-right: 10px;
  }

  .user-profile form {
    margin-left: auto;
    /* delete form을 오른쪽으로 이동 */
  }

  #add {
    margin-left: auto;
    justify-content: space-between;
  }

  /* 삭제 아이콘 스타일 */
  .delete-icon {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 30px;
    color: rgb(239, 110, 110);
    cursor: pointer;
  }
  .share-icon {
    cursor: pointer;
  }
</style>

<body>
  <div class="container">
    <div class="sidebar-left">
      <div class="card" style="width: 15rem;">
        <a href="/profile">
          <div class="user-profile">
            {% if profile_pic %}
            <img class="profile-pic" src="{{ profile_pic }}" alt="User Profile Picture">
            {% else %}
            <img class="profile-pic" src="/static/image/default_pic.png" alt="User Profile Picture">
            {% endif %}
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">어서오세요 {{ username }}님</h5>
          <p class="card-text">현재상태 : {{ description }}</p>
        </div>
      </div><br>
      <span id="share" class="fas fa-share-alt share-icon">공유</span>
    </div>
    <div class="content">
      <div class="posts">
        {% for post in posts[::-1] %}
        <div class="post">
          <div id="user-profile" class="user-profile">
            {% if post.profile_pic %}
            <img class="profile-pic" src="{{ post.profile_pic }}" alt="User Profile Picture">
            {% else %}
            <img class="profile-pic" src="/static/image/default_pic.png" alt="User Profile Picture">
            {% endif %}
            <div class="username">{{ post.username }}</div>

            {% if post.user_id == session.user_id %}
            <form action="/delete_post" method="POST">
              <input type="hidden" name="post_id" value="{{ post.post_id }}">
              <button type="submit" class="btn btn-primary">삭제</button>
            </form>
            {% endif %}
          </div>
          <div class="posted">
            <img src="{{ post.post_image }}" alt="Post Image">
            <div class="post-content"><b>{{ post.username }}</b>&nbsp;{{ post.content }}</div>
          </div>
          <!-- 댓글 작성 폼 --><br>
          <div class="add-comment">
            <form action="/add_comment" method="POST">
              <input type="hidden" name="post_id" value="{{ post.post_id }}">
              <textarea name="comment_content" placeholder="댓글을 입력하세요..." required></textarea>

              <div class="add-comment">
                <div class="row">
                  <div class="col text-end"> <!-- 오른쪽 정렬 -->
                    <button id="add" type="submit" class="btn btn-primary">
                      <i class="fas fa-paper-plane"></i>댓글추가</button>
                  </div>
                </div>
              </div>


            </form>
          </div>
          <!-- 댓글 목록 -->
          <div class="comments">
            {% for comment in comments %}
            {% if comment.post_id == post.post_id %}
            <div class="comment">
              <span class="comment-username"><b>{{ comment.username }}</b></span>: {{ comment.comcontent }}
              {% if comment.user_id == session.user_id %}
              <form action="/delete_comment" method="POST" style="display: inline;">
                <input type="hidden" name="comcontent" value="{{ comment.comcontent }}">
                <button type="submit" class="fa fa-times delete-icon">삭제</button>
              </form>
              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <!-- 게시글 삭제 버튼 -->
        </div>
        {% endfor %}
      </div>
    </div>



  </div>
  <div class="sidebar-right">
    <table>
      <thead>
        <tr>
          <th></th> <!-- 이미지를 위한 헤더 셀 추가 -->

        </tr>
      </thead>
      <tbody>
        <nav class="navbar bg-body-tertiary">
          <form class="container-fluid" onsubmit="return false;">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input type="text" class="form-control" id="searchInput" placeholder="Search User"
                aria-label="Search User" aria-describedby="basic-addon1">
            </div>
          </form>
        </nav>

        <div class="user-list" style="display: none;">
          <ul>
            {% for user in users %}
            <li class="user">
              {% if user.profile_pic %}
              <img class="profile-pic" src="{{ user.profile_pic }}" alt="User Profile Picture">
              {% else %}
              <img class="profile-pic" src="/static/image/default_pic.png" alt="User Profile Picture">
              {% endif %}
              <a href="{{ url_for('user_page', user_id=user['user_id']) }}">{{ user['username'] }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </tbody>

      <script>

        document.getElementById("share").addEventListener("click", function () {
          // 현재 페이지의 URL 가져오기
          var currentUrl = window.location.href;
      
          // 공유 기능 구현
          if (navigator.share) {
              // 브라우저가 공유 API를 지원하는 경우
              navigator.share({
                  title: document.title,
                  url: currentUrl
              }).then(() => {
                  console.log('공유 완료');
              }).catch((error) => {
                  console.error('공유 실패:', error);
              });
          } else {
              // 브라우저가 공유 API를 지원하지 않는 경우
              alert('죄송합니다. 현재 브라우저에서는 공유 기능을 사용할 수 없습니다.');
          }
      });

        document.addEventListener("DOMContentLoaded", function () {
          const searchInput = document.getElementById('searchInput');
          const userList = document.querySelector('.user-list');

          searchInput.addEventListener('input', function () {
            const searchTerm = searchInput.value.toLowerCase();
            const users = userList.querySelectorAll('.user');
            let found = false;

            if (searchTerm === '') {
              userList.style.display = 'none';
              return;
            }

            users.forEach(function (user) {
              const username = user.textContent.toLowerCase();
              if (username.includes(searchTerm)) {
                user.style.display = 'block';
                found = true;
              } else {
                user.style.display = 'none';
              }
            });

            // 사용자를 찾지 못한 경우 목록을 숨깁니다.
            if (!found) {
              userList.style.display = 'none';
            } else {
              userList.style.display = 'block';
            }
          });
        });
      </script>
      </tbody>
    </table>
  </div>



  </div>
</body>
{% endblock %}